//project variables

$footer_height: 73px;

//==============================================  fonts  ================================================

$tahoma: Tahoma, sans-serif;
$roboto_regular: "RobotoRegular", sans-serif;
$roboto: Roboto, sans-serif;
$roboto_black: RobotoBlack, sans-serif;


//==============================================  colors  ================================================

$white: #fff;
$blue: #104E98;
$dark_gray: #333333;
$twitter: #219FE9;
$fb: #35589A;
$instagramm: #E2306C;
$charcoal: #444;
$gray: #ddd;
$gray_hover: #777;
$overlay: rgba(0, 0, 0, .4);