<div class="particular-film__content-wrap">
    <h2 class="particular-film__content-title-ru">Игра престолов (сериал)</h2>
    <span class="particular-film__content-title-en">Game of Thrones</span>
    <div class="particular-film__content-body">
        <p>К концу подходит время благоденствия, и лето, длившееся почти
            десятилетие, угасает. Вокруг средоточия власти Семи королевств, Железного трона, зреет заговор, и в это
            непростое время король решает искать поддержки у друга юности Эддарда Старка. В мире, где все — от короля до
            наемника — рвутся к власти, плетут интриги и готовы вонзить нож в спину, есть место и благородству, состраданию
            и любви. Между тем, никто не замечает пробуждение тьмы из легенд далеко на Севере — и лишь Стена защищает живых
            к югу от нее.</p>
        <table>
            <tr>
                <td>Год</td>
                <td>2011</td>
            </tr>
            <tr>
                <td>Количество сезонов</td>
                <td>7</td>
            </tr>
            <tr>
                <td>Страна</td>
                <td>США, Великобритания</td>
            </tr>
            <tr>
                <td>Премьера в мире</td>
                <td>16 апреля 2011</td>
            </tr>
            <tr>
                <td>Премьера в РФ</td>
                <td>7 сентября 2011</td>
            </tr>
            <tr>
                <td>Режиссер</td>
                <td>Алан Тейлор, Дэвид Наттер</td>
            </tr>
            <tr>
                <td>Возраст</td>
                <td>18+</td>
            </tr>
            <tr>
                <td>Оригинальное название</td>
                <td>Game of tdrones</td>
            </tr>
            <tr>
                <td>Слоган</td>
                <td>Победа или смерть</td>
            </tr>
            <tr>
                <td>Время</td>
                <td>Серия ~ 55 минут</td>
            </tr>
        </table>
    </div>
    //= ../template/player-for-trailer.html
</div>