<div class="particular-film__sidebar-wrap">
    <div class="poster-wrap">
        <a href="../images/assets/films/got-poster.jpg">
            <img src="../images/assets/films/got-poster.jpg" alt="">
        </a>
    </div>
    <div class="particular-film__actors-wrap">
        <h2 class="particular-film__actors-title">В ролях</h2>
        <ul class="particular-film__actors-list">
            <li class="particular-film__actors-list-item">
                <div class="particular-film__actors-list-item-img-wrap">
                    <a href="#">
                        <img src="../images/assets/piter-dinklage.jpg" alt="">
                    </a>
                </div>
                <div class="particular-film__actors-info-wrap">
                    <div class="particular-film__actors-list-item-name">
                        <a href="#">Питер Динклэйдж</a>
                    </div>
                    <div class="particular-film__actors-list-item-films">
                        <a href="#">Люди Икс: Дни минувшего будущего</a>,
                        <a href="#">Станционный смотритель</a>
                    </div>
                </div>
            </li>
            <li class="particular-film__actors-list-item">
                <div class="particular-film__actors-list-item-img-wrap">
                    <a href="#">
                        <img src="../images/assets/natalie-dormer.jpg" alt="">
                    </a>
                </div>
                <div class="particular-film__actors-info-wrap">
                    <div class="particular-film__actors-list-item-name">
                        <a href="#">Натали Дормер</a>
                    </div>
                    <div class="particular-film__actors-list-item-films">
                        <a href="#">Тюдоры</a>,
                        <a href="#">Элементарно</a>
                    </div>
                </div>
            </li>
            <li class="particular-film__actors-list-item">
                <div class="particular-film__actors-list-item-img-wrap">
                    <a href="#">
                        <img src="../images/assets/kit-harington.jpg" alt="">
                    </a>
                </div>
                <div class="particular-film__actors-info-wrap">
                    <div class="particular-film__actors-list-item-name">
                        <a href="#">Кит Харингтон</a>
                    </div>
                    <div class="particular-film__actors-list-item-films">
                        <a href="#">Седьмой сын</a>,
                        <a href="#">Призраки: Лучшая участь</a>
                    </div>
                </div>
            </li>
        </ul>
        <a href="#" class="all-actors">Все актеры</a>
    </div>
</div>