<div class="similar-films-wrap">
    <div class="container">
        <h2 class="similar-films__title">Похожие фильмы</h2>
        <ul class="similar-films__list">
            <li class="similar-films__list-item">
                <a href="#" class="similar-films__list-item-rating">8.3</a>
                <div class="similar-films__list-item-img-wrap">
                    <a href="#"><img src="../images/assets/films/vikings.jpg" alt=""></a>
                </div>
                <div class="similar-films__info">
                    <a href="#">Викинги</a> (сериал, 2013 – ...)
                </div>
            </li>
            <li class="similar-films__list-item">
                <a href="#" class="similar-films__list-item-rating">8.0</a>
                <div class="similar-films__list-item-img-wrap">
                    <a href="#"><img src="../images/assets/films/hobbit.jpg" alt=""></a>
                </div>
                <div class="similar-films__info">
                    <a href="#" >Хоббит: Пустошь Смауга</a> (2013)
                </div>
            </li>
            <li class="similar-films__list-item">
                <a href="#" class="similar-films__list-item-rating">7.8</a>
                <div class="similar-films__list-item-img-wrap">
                    <a href="#"><img src="../images/assets/films/hobbit-fight-of-five-hosts.jpg" alt=""></a>
                </div>
                <div class="similar-films__info">
                    <a href="#">Хоббит: Битва пяти воинств</a> (2014)
                </div>
            </li>
            <li class="similar-films__list-item">
                <a href="#" class="similar-films__list-item-rating">7.1</a>
                <div class="similar-films__list-item-img-wrap">
                    <a href="#"><img src="../images/assets/films/alice-in-wonderland.jpg" alt=""></a>
                </div>
                <div class="similar-films__info">
                    <a href="#">Алиса в стране чудес</a> (2010)
                </div>
            </li>
        </ul>
        <div class="item-list">
            <ul class="pager pager-load-more">
                <li><a href="#">Все рекомендации</a></li>
            </ul>
        </div>
    </div>
</div>