<fieldset class="rating">
    <input type="radio" id="star10" name="rating" value="3" /><label class = "full" for="star10" title="Meh - 10 stars"><span class="count">10</span></label>
    <input type="radio" id="star9half" name="rating" value="3 and a half" /><label class="half" for="star9half" title="Meh - 9.5 stars"></label>
    <input type="radio" id="star9" name="rating" value="3" /><label class = "full" for="star9" title="Meh - 9 stars"><span class="count">9</span></label>
    <input type="radio" id="star8half" name="rating" value="3 and a half" /><label class="half" for="star8half" title="Meh - 8.5 stars"></label>
    <input type="radio" id="star8" name="rating" value="3" /><label class = "full" for="star8" title="Meh - 8 stars"><span class="count">8</span></label>
    <input type="radio" id="star7half" name="rating" value="2 and a half" /><label class="half" for="star7half" title="Kinda bad - 7.5 stars"></label>
    <input type="radio" id="star7" name="rating" value="2" /><label class = "full" for="star7" title="Kinda bad - 7 stars"><span class="count">7</span></label>
    <input type="radio" id="star6half" name="rating" value="1 and a half" /><label class="half" for="star6half" title="Meh - 6.5 stars"></label>
    <input type="radio" id="star6" name="rating" value="1" /><label class = "full" for="star6" title="Sucks big time - 6 star"><span class="count">6</span></label>
    <input type="radio" id="star5half" name="rating" value="half" /><label class="half" for="star5half" title="Sucks big time - 5.5 stars"></label>
    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"><span class="count">5</span></label>
    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
    <input type="radio" id="star4" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 4 stars"><span class="count">4</span></label>
    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"><span class="count">3</span></label>
    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"><span class="count">2</span></label>
    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"><span class="count">1</span></label>
    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
</fieldset>